/* colors: */
/* purple: #B10DC9; */
/* primary: purple; */
/* red: #FF4136; */
/* green: #2ECC40; */

html {
  margin: 0;
  font-family: Palatino, Times, serif;
  font-size: 18px;
}

body {
  margin: 0;
  padding-bottom: 1em;
}

.container {
  margin: 0 auto;
  max-width: 45em;
}

.bg--primary {
  background: #B10DC9;
  color: #fff;
}

.bg--success {
  background: #2ECC40;
  color: #fff;
}

.bg--error {
  background: #FF4136;
  color: #fff;
}

.unstyled-link {
  text-decoration: none;
}

.unstyled-list {
  list-style-type: none;
  padding: 0;
}

.input {
  width: 100%;
  padding: 0.5em;
  border-radius: 0.25em;
  border: 1px solid #aaa;
}

textarea.input {
  height: 20em;
}

select.input {
  background: #fff;
}

.button {
  border: 1px solid #aaa;
  padding: 0.5em 1em;
  border-radius: 0.25em;
  background: #fff;
  color: #000;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
}

.button:hover {
  background: #ddd;
}

.button--primary {
  background: #B10DC9;
  color: #fff;
  border: 1px solid #E43FFC;
}

.button--primary:hover {
  background: #800A96;
}

.button--warning {
  background: #FF4136;
  color: #fff;
  border: 1px solid #FF7469;
};

.button--warning:hover {
  background: #CC1003;
}

.button--success {
  background: #2ECC40;
  color: #fff;
  border: 1px solid #5FFF73;
}

.button--success:hover {
  background: #0B9910;
}

.button--link {
  background: none;
  border: none;
  padding: 0;
  color: inherit;
}

.tabs {
  border-bottom: 1px solid #ccc;
}

.tab {
  margin: 0 0.25em -1px 0.25em;
}

.tab a {
  padding: 0.5em 1em;
  border: 1px solid #ccc;
  border-radius: 0.25em 0.25em 0 0;
  display: block;
}

.tab--active a {
  border-bottom: 1px solid #fff;
}

.tab:hover {
  background: #ddd;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.flex-grow {
  flex-grow: 1;
}

.mr-1 {
  margin-right: 1em;
}

.ml-1 {
  margin-left: 1em;
}

.ptb-1 {
  padding: 1em 0;
}

.text-white {
  color: #fff;
}

a.text-white:hover, button.text-white:hover {
  color: #ccc;
  background: none;
}
