{% extends "admin/layout.html" %}
{% block body %}
{{ super() }}
<p><a href="{{ url_for('posts.new') }}" class="button button--success">New post</a></p>
{% for post in posts %}
<div class="flex space-between">
  <p><a href="{{ url_for('posts.show', slug=post.slug) }}">{{ post.title }}</a></p>
  <div class="flex">
    <a href="{{ url_for('posts.edit', slug=post.slug) }}" class="button">Edit</a>
    <form action="{{ url_for('posts.destroy', slug=post.slug) }}" method="POST" class="ml-1">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <button class="button button--warning">Delete</button>
    </form>
  </div>
</div>
{% endfor %}
{% endblock %}
