<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>{% block title %}{% endblock %} - {{ config.TITLE }}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
    {% block head %}{% endblock %}

    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="bg--primary">
      <div class="flex container">
        <h1 class="mr-1"><a href="/" class="unstyled-link text-white">{{ config.TITLE }}</a></h1>
        <nav class="flex space-between flex-grow">
          <ul class="unstyled-list flex">
            {% for link in config.NAV_LINKS %}
            <li class="mr-1"><a href="{{ link.link }}" class="unstyled-link text-white">{{ link.name }}</a></li>
            {% endfor %}
          </ul>
          <ul class="unstyled-list flex">
             {% if current_user.is_authenticated %}
              {% if current_user.can_post %}
                <li class="mr-1"><a href="{{ url_for('admin.posts') }}" class="unstyled-link text-white">Admin</a></li>
              {% endif %}
            <li class="mr-1">
              <form action="{{ url_for('sessions.logout') }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <button class="button button--link text-white">Logout</button>
              </form>
            </li>
            {% else %}
            <li class="mr-1"><a href="{{ url_for('sessions.login_form') }}" class="unstyled-link text-white">Login</a></li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </header>
    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        {% for category, message in messages %}
        <section class="bg--{{category}} ptb-1">
          <div class="container">
            {{ message }}
          </div>
        </section>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <section class="container">
      {% block body %}
      {% endblock %}
    </section>
  </body>
</html>
