<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>{% block title %}{% endblock %} - {{ config.TITLE }}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
    {% block head %}{% endblock %}

    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="header">
      <div class="container">
        <h1 class="header-brand"><a href="/">{{ config.TITLE }}</a></h1>
        <nav class="header-nav">
          <ul class="header-links">
            {% for link in config.NAV_LINKS %}
            <li><a href="{{ link.link }}">{{ link.name }}</a></li>
            {% endfor %}
          </ul>
          <ul class="header-links">
            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('admin.index') }}">Admin</a></li>
            <li>
              <form action="{{ url_for('sessions.logout') }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <button class="logout-link">Logout</button>
              </form>
            </li>
            {% else %}
            <li><a href="{{ url_for('sessions.login_form') }}">Login</a></li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </header>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
        <section class="flash">
          <div class="container">
            {{ message }}
          </div>
        </section>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <section class="container">
      {% block body %}
      {% endblock %}
    </section>
  </body>
</html>
