// colors
$purple: #AA7FB7;
$aqua: #42899F;
$red: #EA2233;
$green: #26A58F;
$white: #FFF;
$black: #000;
$light-gray: #DDD;
$dark-gray: #CCC;
$primary: $aqua;
$secondary: $purple;
$success: $green;
$warning: $red;

$font-size: 18px;

html {
  margin: 0;
  font-family: Times, serif;
  font-size: $font-size;
}

body {
  margin: 0;
  padding-bottom: 1em;
}

.container {
  margin: 0 auto;
  max-width: 45em;
}

.bg--primary {
  background: $primary;
  color: $white;
}

.bg--success {
  background: $success;
  color: $white;
}

.bg--error {
  background: $warning;
  color: $white;
}

.unstyled-link {
  text-decoration: none;
}

.unstyled-list {
  list-style-type: none;
  padding: 0;
}

.input {
  width: 100%;
  padding: 0.5em;
  border-radius: 0.25em;
  border: 1px solid #aaa;
}

textarea.input {
  height: 20em;
}

select.input {
  background: $white;
}

.button {
  border: 1px solid #aaa;
  padding: 0.5em 1em;
  border-radius: 0.25em;
  background: $white;
  color: $black;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
}

.button:hover {
  background: $light-gray;
}

@mixin colored-button($color) {
  background: $color;
  color: #fff;
  border: 1px solid lighten($color, 20%);

  &:hover {
    background: darken($color, 20%);
  }
}

.button--primary {
  @include colored-button($primary);
}

.button--warning {
  @include colored-button($warning);
};

.button--success {
  @include colored-button($success);
}

.button--link {
  background: none;
  border: none;
  padding: 0;
  color: inherit;
}

.close-button {
  cursor: pointer;
  background: rgba($light-gray, 0.5);
  border-radius: 100%;

  &:hover {
    background: rgba($dark-gray, 0.5);
  }

  &:before {
    padding: 0.5em;
    content: 'x';
    font-family: monospace;
  }
}

.tabs {
  border-bottom: 1px solid $dark-gray;
}

.tab {
  margin: 0 0.25em -1px 0.25em;
}

.tab a {
  padding: 0.5em 1em;
  border: 1px solid $dark-gray;
  border-radius: 0.25em 0.25em 0 0;
  display: block;
}

.tab--active a {
  border-bottom: 1px solid $white;
}

.tab:hover {
  background: $light-gray;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.float-right {
  float: right;
}

.flex-end {
  justify-content: flex-end;
}

.flex-grow {
  flex-grow: 1;
}

.mr-1 {
  margin-right: 1em;
}

.ml-1 {
  margin-left: 1em;
}

.ptb-1 {
  padding: 1em 0;
}

.text-white {
  color: $white;
}

a.text-white:hover, button.text-white:hover {
  color: $dark-gray;
  background: none;
}
