$font-size: 18px;

html {
  margin: 0;
  font-family: Georgia, Palatino, Times, serif;
  font-size: $font-size;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background: $background;
  color: $text-color;
}

a {
  color: $link-color;
   &:hover {
     color: $link-color-hover;
   }
   &:visited {
     color: $link-color-hover;
   }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

figure {
  margin: 0;
}

.container {
  margin: 0 auto;
  padding: 0 0.5em;
  max-width: 45em;
  box-sizing: border-box;
}

%centered-media {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  box-sizing: border-box;
}

.post-body iframe {
  @extend %centered-media;
}

.post-body img {
  @extend %centered-media;
  padding: 0.25em;
  border: 1px solid $light-background;
  border-radius: 0.25em;
  background: $lightest-background;
}

.post-body figure {
  margin: 1em 0;
}

.bg--primary {
  background: $primary;
  color: $background;
}

.bg--success {
  background: $success;
  color: $background;
}

.bg--error {
  background: $warning;
  color: $background;
}

.unstyled-link {
  text-decoration: none;
}

.unstyled-list {
  list-style-type: none;
  padding: 0;
}

.input {
  width: 100%;
  padding: 0.5em;
  border-radius: 0.25em;
  border: 1px solid #aaa;
  box-sizing: border-box;

}

select.input {
  background: $background;
}

.button {
  border: 1px solid #aaa;
  padding: 0.5em 1em;
  border-radius: 0.25em;
  background: $background;
  color: $black;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;

  &:hover {
    background: $light-background;
    color: $black;
  }
  &:visited {
    color: $black;
  }
}

@mixin colored-button($color) {
  background: $color;
  color: $background;
  border: 1px solid lighten($color, 20%);

  &:hover {
    background: darken($color, 20%);
    color: $background;
  }
  &:visited {
    color: $background;
  }
}

.button--primary {
  @include colored-button($primary);
}

.button--warning {
  @include colored-button($warning);
};

.button--success {
  @include colored-button($success);
}

.button--link {
  background: none;
  border: none;
  padding: 0;
  color: inherit;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-end {
  justify-content: flex-end;
}

.flex-grow {
  flex-grow: 1;
}

.flex-column {
  flex-wrap: nowrap;
  flex-direction: column;
  & > * {
    width: 100%;
  }
}

.flex-auto {
  flex: 1 0 auto;
}

.flex-no-shrink {
  flex-shrink: 0;
}

.space-between {
  justify-content: space-between;
}

.float-right {
  float: right;
}

.unmargined {
  margin: 0;
}

.mr-1 {
  margin-right: 1em;
}

.mr-half {
  margin-right: 0.5em;
}

.ml-1 {
  margin-left: 1em;
}

.mt-1 {
  margin-top: 1em;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.ptb-1 {
  padding: 1em 0;
}

.text-background {
  color: $background;
}

a.text-background:visited {
  color: $background;
}

a.text-background:hover, button.text-background:hover {
  color: $dark-background;
  background: none;
}

.text-light-background {
  color: $light-background;
}

.text-warning {
  color: $warning;
}

.center {
  text-align: center;
}

.horizontal-scroll {
  overflow-x: auto;
  overflow-y: hidden;
}

.separated-list li {
  border-bottom: 1px solid $dark-background;
  padding: 1em 0;

  &:last-child {
    border-bottom: 0;
  }
}

.turbolinks-progress-bar {
  height: 5px;
  background-color: $success;
}

.close-button {
  cursor: pointer;
  background: rgba($light-background, 0.5);
  border-radius: 100%;
  padding: 0.25em 0.5em;

  &:hover {
    background: rgba($dark-background, 0.5);
  }

  &:before {
    content: 'x';
    font-family: monospace;
  }
}

.tabs {
  border-bottom: 1px solid $dark-background;
  flex-wrap: nowrap;
}

.tab {
  margin: 0 0.25em -1px 0.25em;

  &:hover {
    background: $light-background;
  }
}

.tab a {
  padding: 0.5em 1em;
  border: 1px solid $dark-background;
  border-radius: 0.25em 0.25em 0 0;
  display: block;
}

.tab--active a {
  border-bottom: 1px solid $background;
}
