{% macro render_pagination(pagination, endpoint) %}
  {% if pagination.pages > 1 %}
  <div class="horizontal-scroll">
    <ul class="pagination">
    {% for page in pagination.iter_pages() %}
      {% if page %}
        {% if page != pagination.page %}
        <li><a href="{{ url_for(endpoint, page=page) }}">{{ page }}</a></li>
        {% else %}
        <li><strong>{{ page }}</strong></li>
        {% endif %}
      {% else %}
        <li><span class=ellipsis>…</span></li>
      {% endif %}
    {% endfor %}
    </ul>
  </div>
  {% endif %}
{% endmacro %}
