{% from "_form.html" import render_field %}
{% extends "layout.html" %}
{% block title %}Comments for {{ post.title }}{% endblock %}
{% block body %}
<h1>Comments for <a href="{{ url_for('posts.show', slug=post.slug) }}">{{ post.title }}</a></h1>
<ul class="unstyled-list separated-list">
{% for comment in post.comments %}
  <li>
    <p>{{ comment.updated_at|comment_time }}</p>
    <p>{{ comment.author_name }}</p>
    <p>{{ comment.html_body }}</p>
  </li>
{% endfor %}
</ul>
<hr>
{% if current_user.is_authenticated %}
<p>Add your comment</p>
<form method="POST" action="{{ url_for('posts.comments_create', slug=post.slug) }}">
  {{ form.csrf_token }}
  {{ render_field(form.body, autofocus=True) }}
  <button class="button button--primary">Comment</button>
</form>
{% else %}
<p><a href="{{ url_for('users.new', return_to=request.path) }}">Sign up</a> or <a href="{{ url_for('sessions.login_form', return_to=request.path) }}">Login</a> to add your comment.</p>
{% endif %}
{% endblock %}
