<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %} - {{ config.TITLE }}</title>

    {{ theme_asset('css') }}
    {{ theme_asset('js') }}
    {% block head %}
    {% if config.DESCRIPTION %}
    <meta property="description" content="{{ config.DESCRIPTION }}">
    {% endif %}
    {% endblock %}

    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body class="flex flex-column">
    <header class="bg--primary flex-no-shrink">
      <div class="flex container">
        <h1 class="mr-1"><a href="/" class="unstyled-link text-background">{{ config.TITLE }}</a></h1>
        <nav class="flex space-between flex-grow">
          <ul class="unstyled-list flex nmt-half">
            {% for link in config.NAV_LINKS %}
            <li class="mr-1"><a href="{{ link.link }}" class="unstyled-link text-background">{{ link.name }}</a></li>
            {% endfor %}
          </ul>
          <ul class="unstyled-list flex nmt-half">
            {% if current_user.is_authenticated %}
            {% if current_user.can_post %}
              <li class="mr-1"><a href="{{ url_for('admin.posts') }}" class="unstyled-link text-background">Admin</a></li>
            {% endif %}
            <li class="mr-1"><a href="{{ url_for('users.edit_self') }}" class="unstyled-link text-background">{{ current_user.username }}</a></li>
            <li class="mr-1">
              <form action="{{ url_for('sessions.logout') }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <button class="button button--link text-background">Logout</button>
              </form>
            </li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </header>
    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        {% for category, message in messages %}
        <section class="bg--{{category}} flex-no-shrink ptb-1">
          <span class="float-right mr-1" data-close-button></span>
          <div class="container">
            {{ message }}
          </div>
        </section>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div class="flex-auto">
      <section class="container">
        {% block body %}
        {% endblock %}
      </section>
    </div>
    <footer class="bg--primary flex-no-shrink mt-1">
      <div class="flex container space-between">
        <ul class="unstyled-list flex">
          {% if not current_user.is_authenticated %}
          <li class="mr-1"><a href="{{ url_for('users.new', return_to=request.path) }}" class="unstyled-link text-background">Sign Up</a></li>
          <li class="mr-1"><a href="{{ url_for('sessions.login_form', return_to=request.path) }}" class="unstyled-link text-background">Login</a></li>
          {% endif %}
        </ul>
        {% if config.COPYRIGHT %}
        <p class="text-background">Copyright {{ config.COPYRIGHT }}</p>
        {% endif %}
      </div>
      <p class="center text-light-background mt-0">This site is powered by <a href="{{ url_for('license') }}" class="text-background">Sarabande</a>.</p>
    </footer>
  </body>
</html>
