{% set active = 'pages' %}
{% from "_form.html" import render_field %}
{% extends "admin_layout.html" %}
{% block title %}Create Page{% endblock %}
{% block body %}
{{ super() }}
<h1>Create new page</h1>

<form method="POST" action="{{ url_for('page.create') }}">
  {{ form.csrf_token }}
  {{ render_field(form.title, autofocus=True) }}
  {{ render_field(form.slug) }}
  {{ render_field(form.body) }}
  <button class="button button--primary">Submit</button>
</form>
{{ asset_tag('admin.js') }}
{% endblock %}
