{% from "_social_media.html" import social_tags %}
{% extends "layout.html" %}
{% block title %}{{ post.title }}{% endblock %}
{% block head %}
{{ social_tags(post) }}
{% endblock %}
{% block body %}
<h1>{{ post.title }}</h1>
<p><small>by {{ post.author_name }}</small></p>
<p><small>published {{ post.published_at|publish_time }}</small></p>
{{ post.html_body }}
{% if post.tags %}
<section class="flex">
  {% for tag in post.tags %}
  <p class="mr-1"><a class="button" href={{ url_for('tags.show', slug=tag.slug) }}>{{ tag.name }}</a></p>
  {% endfor %}
</section>
{% endif %}
<p><a href="{{ url_for('posts.comments_index', slug=post.slug) }}">Comments</a></p>
{% endblock %}
