{% set active = 'posts' %}
{% from "_form.html" import render_field %}
{% extends "admin_layout.html" %}
{% block title %}Create Post{% endblock %}
{% block head %}
{{ asset_tag('admin.js') }}
{% endblock %}
{% block body %}
{{ super() }}
<h1>Create new post</h1>

<form method="POST" action="{{ url_for('posts.create') }}">
  {{ form.csrf_token }}
  {{ render_field(form.title, autofocus=True) }}
  {{ render_field(form.slug) }}
  {{ render_field(form.body) }}
  {{ render_field(form.tag_names) }}
  {{ render_field(form.published) }}
  {{ render_field(form.published_at) }}
  <button class="button button--primary">Submit</button>
</form>
{% endblock %}
